{% extends "index.html" %}

{% block content %}

	<div class="container mt-4">
			<form action="/profile" method="POST" class="row g-4">
					<!-- Left Side: Username & Employer Info -->
					<div class="col-md-4">
							<div class="p-3 border rounded">
									<h4>Username:</h4>
									<label>First Name:</label>
									<input type="text" class="form-control" id="name">
									<label>Middle Initial:</label>
									<input type="text" class="form-control">
									<label>Last Name:</label>
									<input type="text" class="form-control">
									<label>Birthday:</label>
									<input type="month" class="form-control">
									<label>Age:</label>
									<input type="number" class="form-control">
									<label>Email:</label>
									<input type="email" class="form-control">
									<label>Phone Number:</label>
									<input type="number" class="form-control">
							</div>
							<div class="p-3 border rounded mt-4">
									<label>Current Employer:</label>
									<input type="text" class="form-control">
									<label>Employer Address:</label>
									<input type="text" class="form-control">
							</div>
					</div>
					
					<!-- Right Side: Household Members -->
					<div class="col-md-8">
							<div class="row g-3">
									<div class="col-md-6">
											<div class="p-3 border rounded">
													<h4>Household Member #1</h4>
													<label>First Name:</label>
													<input type="text" class="form-control">
													<label>Middle Initial:</label>
													<input type="text" class="form-control">
													<label>Last Name:</label>
													<input type="text" class="form-control">
													<label>Birthday:</label>
													<input type="month" class="form-control">
													<label>Age:</label>
													<input type="number" class="form-control">
													<label>Email:</label>
													<input type="text" class="form-control">
													<label>Phone Number:</label>
													<input type="number" class="form-control">
											</div>
									</div>
									<div class="col-md-6">
											<div class="p-3 border rounded">
													<h4>Household Member #2</h4>
													<label>First Name:</label>
													<input type="text" class="form-control">
													<label>Middle Initial:</label>
													<input type="text" class="form-control">
													<label>Last Name:</label>
													<input type="text" class="form-control">
													<label>Birthday:</label>
													<input type="month" class="form-control">
													<label>Age:</label>
													<input type="number" class="form-control">
													<label>Email:</label>
													<input type="text" class="form-control">
													<label>Phone Number:</label>
													<input type="number" class="form-control">
											</div>
									</div>
							</div>
							<div class="row g-3 mt-4">
									<div class="col-md-6">
											<div class="p-3 border rounded">
													<h4>Emergency Contact #1</h4>
													<label>First Name:</label>
													<input type="text" class="form-control">
													<label>Middle Initial:</label>
													<input type="text" class="form-control">
													<label>Last Name:</label>
													<input type="text" class="form-control">
													<label for="relationship">Relationship:</label>
													<select name="relationship" id="relationship" class="form-select">
															<option value="family">Family</option>
															<option value="friend">Friend</option>
													</select>
													<label>Email:</label>
													<input type="text" class="form-control">
													<label>Phone Number:</label>
													<input type="number" class="form-control">
											</div>
									</div>
									<div class="col-md-6">
											<div class="p-3 border rounded">
													<h4>Emergency Contact #2</h4>
													<label>First Name:</label>
													<input type="text" class="form-control">
													<label>Middle Initial:</label>
													<input type="text" class="form-control">
													<label>Last Name:</label>
													<input type="text" class="form-control">
													<label for="relationship">Relationship:</label>
													<select name="relationship" id="relationship" class="form-select">
															<option value="family">Family</option>
															<option value="friend">Friend</option>
													</select>
													<label>Email:</label>
													<input type="text" class="form-control">
													<label>Phone Number:</label>
													<input type="number" class="form-control">
											</div>
									</div>
							</div>
					</div>
			</form>
	</div>

{% endblock %}